*
!.gitignore

!AUTHORS
!ChangeLog
!COPYING
!INSTALL
!Makefile.am
!NEWS
!README

!configure.ac
!docs
!docs/*
!icon
!icon/icon*
!src
!src/Makefile.am
!src/*.c
!src/include
!src/include/*.h
!src/unix/
!src/unix/*.c
!src/windows
!src/windows/*.c
