Source: terminal-media-launcher
Section: utils
Priority: optional
Maintainer: louie <louie@example.com>
Build-Depends: debhelper-compat (= 12), dh-autoreconf
Standards-Version: 4.5.0
Homepage: https://github.com/lshprung/terminal-media-launcher

Package: terminal-media-launcher
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: lua-filesystem
Description: Lightweight Terminal Media Launcher written in C
 Terminal Media Launcher is a command line utility to help streamline
 launching applications and other media
